#new-arrivals-container, #top-selling-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 7.2rem;
  flex-direction: column;
}

.new-arrivails-title, .top-selling-title {
  font-family: "Integral-CF";
  font-size: 4.8rem;
}

.arrivals-products, .top-selling-products {
  display: inline-flex;
  margin-top: 5.5rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.arrivals-products img, .top-selling-products img {
  transition: transform 0.2s ease, box-shadow 0.2s;
  border-radius: 2rem;
}

.arrivals-products img:hover, .top-selling-products img:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; 
  padding: 0;
  margin: 0 auto;
}

.product-card {
  text-align: left; 
  border-style: none;
}

.product-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.product-name {
  font-family: "Satoshi-Bold";
  font-size: 2rem;
  margin: 1.4rem 0 0.7rem;
  color: #000;
  cursor: pointer;
}

.product-rating {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.rating-stars {
  display: flex;
  margin-right: 8px;
  gap: 0.45rem;
  margin-right: 1.3rem;
}

.rating-stars img {
  height: 1.7rem;
}

.rating-score, .slash {
  padding-top: 0.2rem;
  font-size: 1.4rem;
  color: #000;
}

.fullscore {
  padding-top: 0.2rem;
  font-size: 1.4rem;
  color: hsla(0, 0%, 0%, 0.6);
}

.product-price {
  font-family: "Satoshi-Bold";
  font-size: 2.4rem;
  color: #000;
  display: flex;
}

.strikethrough {
  text-decoration: line-through;
  font-family: "Satoshi-Bold";
  font-size: 2.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: hsla(0, 0%, 0%, 0.4);
}

.discount {
  font-family: "Satoshi-Medium";
  font-size: 1.2rem;
  color: #FF3333;
  background-color: hsla(0, 100%, 60%, 0.1);;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0 0.6rem;
  border-radius: 6.2rem;
  width: 5.8rem;
}

.view-all-button {
  margin-top: 3.6rem;
}

.view-all {
  background-color: transparent;
  font-family: "Satoshi-Medium";
  font-size: 1.6rem;
  color: #000;
  width: 21.8rem;
  height: 5.2rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: hsla(0, 0%, 0%, 0.1);
  border-radius: 6.2rem;
  margin-bottom: 6.4rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.1s ease;
}

.view-all:hover {
  box-shadow: 0px 2.5px 4px rgba(0, 0, 0, 0.5);
  border: none;
}

.view-all:active {
  transform: translateY(2.5px); 
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); 
  border: solid 0.1rem hsla(0, 0%, 0%, 0.1);
}

.divider {
  width: 124rem;
  border: solid hsla(0, 0%, 0%, 0.1);
  border-width: 0.05rem;
  margin-bottom: 6.4rem;
}


@media (max-width: 390px) {
  #new-arrivals-container, #top-selling-container {
    top: 5rem;
  }

  .new-arrivails-title, .top-selling-title {
    font-size: 3.2rem;
  }

  .arrivals-products, .top-selling-products {
    max-width: 39rem;
    margin-left: 3rem;
    margin-top: 3.2rem;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  .product-list {
    width: 39rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem; 
  }

  .product-image {
    width: 20rem;
    overflow: hidden;
  }

  .product-name {
    font-size: 1.6rem;
    margin: 0.8rem 0 0;
  }

  .product-price {
    font-size: 2rem;
    align-items: center;
  }

  .strikethrough {
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .discount {
    font-size: 1rem;
    padding: 0.3rem 0.8rem;
    border-radius: 6.2rem;
    width: 4.2rem;
    height: 2rem;
  }

  .product-rating {
    display: flex;
    align-items: center;
    margin: 0.4rem 0 0.5rem;
  }

  .rating-stars {
    display: flex;
    gap: 0.38rem;
    margin-right: 1.1rem;
  }

  .rating-stars img {
    height: 1.5rem;
  }

  .view-all-button {
    margin-top: 2.4rem;
  }
  
  .view-all {    
    font-size: 1.4rem;
    width: 35.8rem;
    height: 4.6rem;
    margin-bottom: 4rem;
  }
  
  .divider {
    width: 35.8rem;
    border: solid hsla(0, 0%, 0%, 0.1);
    border-width: 0.05rem;
    margin-bottom: 4rem;
  }
}