#carousel-container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-title {
  width: 66rem;
  font-family: "Integral-CF";
  font-size: 4.8rem;
  margin-bottom: 4rem;
  margin-left: 10.05rem;
  text-align: center;
}

.carousel-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}

.prev-btn {
  margin-top: -6rem;
  right: 14rem;
}

.next-btn {
  margin-top: -6rem;
  right: 10rem;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 4.4rem;
}

.carousel-track {
  display: flex;
  /* transition: transform 0.5s ease; */
  justify-content: center;
}

.carousel-item {
  margin: 0 1rem;
  padding: 28px 32px;
  border: 1px solid #ccc;
  border-radius: 2rem;
  box-sizing: border-box;
  width: 400px;
  height: 240px;
  position: relative;
}

.carousel-item img {
  width: 33.6rem;
  height: auto;
  display: block;
}

.carousel-item:nth-child(1),
.carousel-item:nth-child(5) {
  filter: blur(2px);
}

@media (max-width: 390px) {
  .carousel-title {
    font-size: 3.2rem;
    width: 28.6rem;
    text-align: left;
    margin-left: 1.6rem;
    margin-bottom: 0;
  }

  .carousel-btn {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .prev-btn {
    margin-top: -7.7rem;
    margin-right: 5rem;
  }
  
  .next-btn {
    margin-top: -7.7rem;
    margin-right: 0.7rem;
  }
  
  .prev-btn, .next-btn {
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
  }

  .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 2.4rem;
  }

  .carousel-item {
    margin: 0 1rem;
    padding: 2.4rem 2.4rem;
    border: 1px solid #ccc;
    border-radius: 2rem;
    width: 35.8rem;
    height: 18.62rem;
    position: relative;
  }

  .carousel-item img {
    width: 31rem;
    height: 13.82rem;
  }
}