
footer {
  display: flex;
  background-color: #F0F0F0;
  height: 50rem;
  margin-top: -9rem;
  padding: 0 10rem 0rem 10rem;
}

.footer-container {
  display: grid;
  margin: 14rem 0 5rem 0;
  grid-template-columns: 25rem 10.5rem 14rem 15rem 15rem;
  grid-template-rows: 17.7rem;
  gap: 11.35rem;
  justify-content: center;
  align-items: start;
}

.logo-footer {
  font-family: "Integral-CF";
  color: #000;
  font-size: 3.345rem;
  line-height: 4.015rem;
  margin-top: -1rem;
}

.subtitle-footer {
  margin-top: 2rem;
  margin-bottom: 3.3rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: hwb(0 0% 100% / 0.6);
}

.social-media-icons {
  display: flex;
  gap: 1.2rem;
}

.twitter, .facebook, .instagram, .github, .footer-section li {
  cursor: pointer;
}

.footer-section h3 {
  font-family: "Satoshi-Medium";
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  line-height: 1.8rem;
  color: #000;
}

.inner-ul {
  margin-top: 2.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inner-ul li {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: hsla(0, 0%, 0%, 0.6);
}

.footer-content {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.company-footer {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.help-footer {
  grid-column: 3/ 4;
  grid-row: 1 / 2;
}

.faq-footer {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.resources-footer {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.divider-footer {
  display: flex;
  border: solid hsla(0, 0%, 0%, 0.1);
  width: 124rem;
  border-width: 0.05rem;
  margin-bottom: 2.5rem;
}

.footer-copyright {
  margin-top: 0.2rem;
  font-size: 1.4rem;
  color: hsla(0, 0%, 0%, 0.6);
  width: 28rem;
}

.payments {
  display: flex;
  justify-content: end;
}

.payments img {
  margin-top: -2.7rem;
  width: 6.6rem;
  height: 4.9rem;
}


@media (max-width: 390px) {
  footer {
    overflow: hidden;
    margin-top: -15.5rem;
    height: 84.6rem;
    width: 39rem;
    padding: 18.96rem 1.6rem 0;
  }

  .footer-container {
    margin: 0;
    width: 35.9rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 13rem 1fr 1fr;
    gap: 2.4rem;
  }
  
  .logo-footer {
    font-family: "Integral-CF";
    color: #000;
    font-size: 2.885rem;
    line-height: 3.462rem;
    margin-top: -1rem;
  }
  
  .subtitle-footer {
    margin-top: 1.4rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
    color: hwb(0 0% 100% / 0.6);
  }

  .footer-section h3 {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
  }
  
  .inner-ul {
    margin-top: 1.6rem;
    gap: 1.6rem;
  }
  
  .inner-ul li {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .footer-content {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .company-footer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .help-footer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .faq-footer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  
  .resources-footer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .divider-footer {
    width: 35.8rem;
    margin: 4rem 0 1.6rem;
  }

  .footer-copyright {
    text-align: center;
    margin: 0 0 1.3rem;
    width: 35.8rem;
  }
  
  .payments {
    justify-content: center;
  }
  
  .payments img {
    margin: 0rem;
    margin-left: -0.5rem;
    width: 5.9rem;
    height: auto;
  }

}