@import url('./header/nav_bar.css');
@import url('./header/banner.css');
@import url('./header/brands.css');
@import url('./main/products.css');
@import url('./main/dress_style.css');
@import url('./main/testimonials.css');
@import url('./main/newsletter.css');
@import url('./footer/footer.css');

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  list-style: none;
}

html {
  max-width: 144rem;
  margin: 0 auto;
}

header, main {
  background-color: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

@font-face {
  font-family: "Satoshi";
  src: url('../assets/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url('../assets/fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url('../assets/fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Integral-CF";
  src: url('../assets/fonts/Integralcf-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}